<div class="ion-no-border" class="footer">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-padding">

        <!-- Version Pc -->

        <ion-col id="informacion_pc">
          <div>
            <ion-buttons>
              <ion-button color="dark">
                Terminos y condiciones
              </ion-button>
              <ion-button color="dark">
                Politicas de tratamiento de datos
              </ion-button>
              <ion-button color="dark">
                Contáctenos
              </ion-button>
            </ion-buttons>
          </div>
        </ion-col>

        <ion-col id="siguenos_pc">
          <div>
            <ion-buttons>
              <ion-button disabled="true" color="dark">
                Siguenos
              </ion-button>
              <ion-button color="dark">
                <ion-icon name="logo-facebook"></ion-icon>
              </ion-button>
              <ion-button color="dark">
                <ion-icon name="logo-twitter"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
        </ion-col>


        <!-- Version Pequeña -->

        <ion-col size="12" size-xl="3" id="boton_movil">
          <div>
            <ion-buttons>
              <ion-button color="dark">
                Terminos y condiciones
              </ion-button>
            </ion-buttons>
          </div>
        </ion-col>

        <ion-col size="12" size-xl="3" id="boton_movil">
          <div>
            <ion-buttons>
              <ion-button color="dark">
                Politicas de tratamiento de datos
              </ion-button>
            </ion-buttons>
          </div>
        </ion-col>

        <ion-col size="12" size-xl="3" id="boton_movil">
          <div>
            <ion-buttons>
              <ion-button color="dark">
                Contáctenos
              </ion-button>
            </ion-buttons>
          </div>
        </ion-col>

        <ion-col size="12" size-xl="3" id="siguenos">
          <div>
            <ion-buttons>
              <ion-button disabled="true" color="dark">
                Siguenos
              </ion-button>
              <ion-button color="dark">
                <ion-icon name="logo-facebook"></ion-icon>
              </ion-button>
              <ion-button color="dark">
                <ion-icon name="logo-twitter"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</div>