#informacion_pc {
  justify-content: flex-start;
}

#siguenos_pc {
  justify-content: flex-end;
}

#siguenos,
#boton_movil {
  justify-content: center;
}

@media (max-width: 1200px) {
  #informacion_pc {
    display: none;
  }

  #siguenos_pc {
    display: none;
  }

  #boton_movil {
    display: flex;
  }

  #siguenos {
    display: flex;
  }
}

@media (min-width: 1200px) {
  #informacion_pc {
    display: flex;
  }

  #siguenos_pc {
    display: flex;
  }

  #boton_movil {
    display: none;
  }

  #siguenos {
    display: none;
  }
}
