.color_fondo {
  background-color: rgba(44, 42, 42, 0.712);
}

.tamaño_icono {
  width: 60px;
  height: 60px;
}

.botones_votacion {
  padding: 1em;
}

.like {
  background-color: #00ada4;
}

.dislike {
  background-color: #ffa300;
}

.botones_votacion:hover {
  cursor: pointer;
}
