<ion-card class="ion-padding color_fondo" *ngIf="tarjeta">
    <ion-card-content>
        <ion-grid>

            <!-- Información -->
            <ion-row>
                <ion-col class="letra_blanca" size="12">
                    <ion-card-subtitle class="letra_blanca">Tell us your opinion about
                    </ion-card-subtitle>
                    <h1 class="letra_blanca">Ironman?</h1>
                    <br>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur illo
                    voluptas quas
                    eum consequuntur harum perferendis, iusto, quibusdam sit iste ipsam cum
                    quasi
                    libero a
                    aperiam unde, itaque sunt pariatur!
                    <br>
                    <br>


                    <u><a href="https://es.wikipedia.org/wiki/Iron_Man" target="_blank">More information</a></u>
                    <br>
                    <br>

                </ion-col>
            </ion-row>

            <h1 class="letra_blanca"> What is your vote?</h1>
            <br>

            <!-- Botones votación-->
            <ion-row>

                <ion-col class="alinear_centro botones_votacion like" (click)="votoPositivo()">

                    <ion-icon color="light" name="thumbs-up"></ion-icon>

                </ion-col>

                <ion-col class="alinear_centro botones_votacion dislike" (click)="votoNegativo()">


                    <ion-icon color="light" name="thumbs-down"></ion-icon>

                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-card>

<ion-card class="ion-padding color_fondo" *ngIf="tarjetaRespuestaPositiva">
    <ion-card-content>
        <ion-grid>

            <!-- Información -->


            <ion-row>
                <ion-col class="letra_blanca" size="12">
                    <h1 class="letra_blanca">Marvel - Iron Man</h1>
                </ion-col>
            </ion-row>


            <ion-row>

                <ion-col size="5" class="alinear_centro like">
                    <ion-icon class="tamaño_icono" color="light" name="thumbs-up"></ion-icon>
                </ion-col>

                <ion-col size="7" class="ion-padding-start alinear_inicio letra_blanca">
                    <h2>Tu voto ha sido <br> registrado</h2>
                </ion-col>
            </ion-row>

            <ion-row class="ion-padding-top">
                <ion-col class="letra_blanca">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur illo voluptas quas eum
                    consequuntur harum perferendis, iusto, quibusdam sit iste ipsam cum quasi libero a aperiam unde,
                    itaque sunt pariatur!
                </ion-col>
            </ion-row>

            <!-- Botones votación-->
            <ion-row>

                <ion-col (click)="volverAVotar()">


                    <ion-button color="dark" expand="full">
                        Volver a votar
                    </ion-button>

                </ion-col>

            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-card>

<ion-card class="ion-padding color_fondo" *ngIf="tarjetaRespuestaNegativa">
    <ion-card-content>
        <ion-grid>

            <!-- Información -->


            <ion-row>
                <ion-col class="ion-padding-bottom letra_blanca" size="12">
                    <h1 class="letra_blanca">Marvel - Iron Man</h1>
                </ion-col>
            </ion-row>


            <ion-row>

                <ion-col size="5" class="alinear_centro dislike">
                    <ion-icon class="tamaño_icono" color="light" name="thumbs-down"></ion-icon>
                </ion-col>

                <ion-col size="7" class="ion-padding-start alinear_inicio letra_blanca">
                    <h2>Tu voto ha sido <br> registrado</h2>
                </ion-col>
            </ion-row>

            <ion-row class="ion-padding-top">
                <ion-col class="letra_blanca">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur illo voluptas quas eum
                    consequuntur harum perferendis, iusto, quibusdam sit iste ipsam cum quasi libero a aperiam unde,
                    itaque sunt pariatur!
                </ion-col>
            </ion-row>

            <!-- Botones votación-->
            <ion-row>

                <ion-col (click)="volverAVotar()">


                    <ion-button color="dark" expand="full">
                        Volver a votar
                    </ion-button>

                </ion-col>

            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-card>