.container_bg {
  background-image: url("../../../assets/img/tony.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  flex-direction: column;
}

.tarjeta {
  display: flex;
}




// Media Queries


@media (min-width: 1200px) {

  .tarjeta {
    width: 450px;
    margin: 20px 0px 20px 40px;
  }
}

@media (min-width: 768px) {


  .tarjeta {
    width: 450px;
    // padding: 0px 60px 0px 60px;
    padding: 3em;
  }
}
