.pc_container_bg,
.movil_container_bg {
  background-image: url("../../../assets/img/tony.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

#pc_container,
#movil_container {
  display: flex;
  align-items: center;
}

#pc_container {
  height: 100%;
}

#movil_container {
  flex-direction: column;
}

// Media Queries

@media (min-width: 1200px) {
  #pc_container {
    display: flex;
  }

  #tarjetas {
    display: flex;
  }

  #movil_container {
    display: none;
  }
}
@media (max-width: 1200px) {
  #pc_container {
    display: none;
  }

  #tarjetas {
    display: none;
  }

  #movil_container {
    display: flex;
  }
}
