<app-header></app-header>

<ion-content>


    <!-- Versión Pc -->
    <div id="pc_container">
        <div id="container_item">
            <div style="display: flex; width: 450px; ">
                <app-tarjeta tarjetaPc="true"></app-tarjeta>
            </div>
        </div>
    </div>

    <div id="pc_container">
        <div id="container_item">
        </div>
    </div>
    <!-- Versión Movil -->

    <div id="movil_container">
        <app-tarjeta tarjetaMovil="true"></app-tarjeta>
    </div>

</ion-content>
<app-footer></app-footer>