<ion-content>

    <app-header></app-header>

    <ion-grid>
        <div class="container_bg">
            <ion-row>
                <app-tarjeta class="tarjeta" [tarjeta]="true"></app-tarjeta>
            </ion-row>

            <ion-row>
                <app-barra style="width: 100%;"></app-barra>
            </ion-row>
        </div>
        <ion-row>
            <app-notificacion></app-notificacion>
        </ion-row>
        <ion-row id="tarjetas">
            <app-tarjetas>
            </app-tarjetas>
        </ion-row>
    </ion-grid>


    <app-footer></app-footer>

</ion-content>