<app-header></app-header>

<ion-content>


    <!-- Versión Pc -->
    <div id="pc_container" class="pc_container_bg">
        <div id="container_item">
            <div style="display: flex; width: 450px; ">
                <app-tarjeta [tarjetaPc]="true"></app-tarjeta>
            </div>
        </div>
    </div>



    <!-- Versión Movil -->

    <div id="movil_container" class="movil_container_bg ion-padding">

        <div>
            <app-tarjeta [tarjetaMovil]="true"></app-tarjeta>
        </div>

    </div>

</ion-content>
<app-footer></app-footer>