<ion-grid>
  <ion-row>
    <ion-col size="12" size-sm="6" style="display: flex;  justify-content: center;" *ngFor="let jugador of jugadores">
      <ion-card style="width: 300px; background-color: rgba(44, 42, 42, 0.712);">

        <ion-card-content class="alinear_centro_col">
          <ion-avatar class="ion-margin-vertical" style="width: 100px; height: 100px;">
            <img [src]="image">
          </ion-avatar>
          <h1 class="letra_blanca">{{jugador.nombre}}</h1>
          <h2 class="letra_blanca">{{jugador.clase}}</h2>

          <ion-buttons slot="start" class="ion-margin alinear_centro_col">
            <ion-button (click)="editarJugador(jugador.id)" color="primary">
              Edit
            </ion-button>
            <ion-button (click)="verJugador(jugador.id)" color="secondary">
              See more
            </ion-button>
            <!-- <ion-button (click)="deletePlayer(jugador.id)" color="warning">
              Kick out </ion-button> -->
          </ion-buttons>
        </ion-card-content>
      </ion-card>

    </ion-col>

  </ion-row>
</ion-grid>
