<ion-card class="ion-margin" style="background-color: #ECECEC;">
  <ion-grid>
    <ion-row>
      <ion-col class="alinear_centro" size=" 4">
        <ion-row class="alinear_centro" style="display: flex; flex-direction: column;">
          Lorem Ipsum dolor
          <h1 style="margin: 0; padding: 0;">Ip lorem ip.</h1>
        </ion-row>
      </ion-col>
      <ion-col class="alinear_centro" size="7">Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Quas temporibus
        adipisci voluptate
        asperiores id
        cum, optio quos ex, repudiandae sit eveniet et fuga, hic ad nihil reprehenderit veniam
        magnam quidem.
      </ion-col>
      <ion-col class="alinear_centro" size="1">
        <ion-buttons>
          <ion-button (click)="cerrarNotificacion()">
            <ion-icon style="width: 20px; height: 20px;" name="close-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>