<ion-menu side="end" menuId="first" [contentId]="main">
    <ion-content>
        <ion-list style="margin-top: 20px;" mode="ios">


            <div *ngIf="!vozCorrida;then content else other_content">here is ignored</div>

            <ng-template #content>

                <ion-item id="item" (click)="go('/home')" class="animate__animated" appTextoAnimado
                    hoverClass="animate__pulse" detail>
                    <div>
                        <div style="display: flex;">
                            <ion-icon class="ion-padding-horizontal" slot="start" name="home"></ion-icon>
                            <ion-label color="dark">Home</ion-label>
                        </div>
                    </div>
                </ion-item>

                <ion-item id="item" (click)="go('/login')" class="animate__animated" appTextoAnimado
                    hoverClass="animate__pulse" detail>
                    <div>
                        <div style="display: flex;">
                            <ion-icon class="ion-padding-horizontal" slot="start" name="person-outline"></ion-icon>
                            <ion-label color="dark">Log In</ion-label>
                        </div>
                    </div>
                </ion-item>

            </ng-template>


            <ng-template #other_content>

                <ion-item id="item" (click)="go('/home')" class="animate__animated" appTextoAnimado
                    hoverClass="animate__pulse" detail>
                    <div>
                        <div style="display: flex;">
                            <ion-icon class="ion-padding-horizontal" slot="start" name="home"></ion-icon>
                            <ion-label color="dark">Home</ion-label>
                        </div>
                    </div>
                </ion-item>

                <ion-item id="item" (click)="go('/games')" class="animate__animated" appTextoAnimado
                    hoverClass="animate__pulse" detail>
                    <div>
                        <div style="display: flex;">
                            <ion-icon class="ion-padding-horizontal" slot="start" name="game-controller"></ion-icon>
                            <ion-label color="dark">Games</ion-label>
                        </div>
                    </div>
                </ion-item>

                <ion-item id="item" (click)="go('/account')" class="animate__animated" appTextoAnimado
                    hoverClass="animate__pulse" detail>
                    <div>
                        <div style="display: flex;">
                            <ion-icon class="ion-padding-horizontal" slot="start" name="person-outline"></ion-icon>
                            <ion-label color="dark">Account</ion-label>
                        </div>
                    </div>
                </ion-item>



                <ion-item id="item" (click)="logOut()" class="animate__animated" appTextoAnimado
                    hoverClass="animate__pulse" detail>
                    <div>
                        <div style="display: flex;">
                            <ion-icon class="ion-padding-horizontal" slot="start" name="power-outline"></ion-icon>
                            <ion-label color="dark">Sign off</ion-label>
                        </div>
                    </div>
                </ion-item>

            </ng-template>

        </ion-list>
    </ion-content>
</ion-menu>