<app-header title="Edit Player" icon="person-outline"></app-header>
<!-- <app-header title="Add Player" icon="person-add-outline"></app-header> -->


<ion-content>
  <div class="container alinear_centro">


    <ion-grid>

      <ion-row>

        <ion-col class="alinear_centro" size="12">
          <ion-spinner *ngIf="!isLoaded" name="crescent"></ion-spinner>



          <ion-card id="card" *ngIf="isLoaded">


            <ion-card-content class="ion-margin alinear_centro_col">

              
                <div (click)="EditAvatar()">
                  

                  <ion-avatar  class="ion-margin" style="width: 150px; height: 150px;">
                    <!-- <h5 class="editar">Edit</h5> -->
                  <img id="avatar" [src]="image" />
                </ion-avatar>
              </div>
              

              <form #formulario="ngForm" (ngSubmit)="EditPlayer(formulario)">

                <ion-input style="display: none;" [(ngModel)]="player.id" name="id" type="text"></ion-input>


                <ion-item class="item_element" style="margin-top: 5px;">
                  <ion-label position="floating" color="medium">Health Points</ion-label>
                  <ion-input [(ngModel)]="player.puntosSalud" name="puntosSalud" type="text" value="100">
                  </ion-input>
                </ion-item>

                <ion-item class="item_element" style="margin-top: 5px;">
                  <ion-label position="floating" color="medium">Experience Points</ion-label>
                  <ion-input [(ngModel)]="player.puntosExperiencia" name="puntosExperiencia" type="text" value="0">
                  </ion-input>
                </ion-item>




                <!-- Tipo componente, -->
                <ion-item class="item_element" style="margin-top: 5px;">
                  <ion-label position="floating" color="medium">Full Name</ion-label>
                  <ion-input [(ngModel)]="player.nombre" name="nombre" type="text" required></ion-input>
                </ion-item>

                <ion-item class="item_element" style="margin-top: 5px;">
                  <ion-label position="floating" color="medium">Class</ion-label>
                  <ion-select [(ngModel)]="player.clase" name="clase" required>
                    <ion-select-option>Charming</ion-select-option>
                    <ion-select-option>Hard</ion-select-option>
                    <ion-select-option>Smart</ion-select-option>
                    <ion-select-option>Strong</ion-select-option>


                  </ion-select>
                </ion-item>


                <ion-item class="item_element" style="margin-top: 5px;">
                  <ion-label position="floating" color="medium">Birthdate</ion-label>
                  <ion-datetime [(ngModel)]="player.edad" name="edad" required displayFormat=" D MMM YYYY" min="1850"
                    max="2015">
                  </ion-datetime>
                </ion-item>

                <ion-item class="item_element" style="margin-top: 5px;">
                  <ion-label position="floating" color="medium">Character phrase</ion-label>
                  <ion-textarea [(ngModel)]="player.lema" name="lema"></ion-textarea>
                </ion-item>





                <ion-input style="display: none;" [(ngModel)]="player.nivel" name="nivel" type="text" value="1">
                </ion-input>







                <div class="alinear_centro ion-margin-vertical">

                  <ion-button shape="round" size="medium" type="submit">
                    Finish
                  </ion-button>

                </div>

              </form>

            </ion-card-content>

          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>


</ion-content>