.container {
  min-height: 100vh;
  overflow: auto;
}

.form_element {
  width: 200px;
}

#card {
  background-color: rgba(44, 42, 42, 0.712);
  padding: 0;
  width: 300px;
}

.editar {
  color: #00ada4;
  cursor: pointer;
  display: flex;
  margin-left: 25%;
  margin-top: 25%;
  position: absolute;
}

#avatar:hover {
  opacity: 0.1;
  cursor: pointer;

  .editar {
    color: #00ada4;
    cursor: pointer;
    display: flex;
    margin-left: 25%;
    margin-top: 25%;
    position: absolute;
  }
}
