<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-grid>
      <ion-row>

        <!-- Título -->

        <ion-col size="6" size-md="6" id="titulo">
          <ion-title>{{title}}</ion-title>
        </ion-col>


        <!-- Botón Menú -->
        <ion-col size="6" size-md="6" id="botonMenu">
          <div class="ion-padding" style="display: flex;
          justify-content: flex-end;">
            <ion-buttons>

              <ion-button (click)="open()">
                <ion-icon color="secondary" slot="icon-only" name="menu"></ion-icon>
              </ion-button>

            </ion-buttons>
          </div>

        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>

</ion-header>