<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-grid>
      <ion-row>

        <!-- Título -->
        <ion-col size="6" size-md="6" id="titulo">
          <ion-title>Awesome Heroes</ion-title>
        </ion-col>

        <!-- Botones Navegación -->
        <ion-col size="6" size-md="6" id="lupita">
          <div>
            <ion-buttons>

              <ion-button color="secondary">
                Heores Anteriores
              </ion-button>
              <ion-button color="secondary">
                ¿Cómo funciona?
              </ion-button>
              <ion-button color="secondary">
                Iniciar Sesión
              </ion-button>
              <ion-button>
                <ion-icon slot="icon-only" name="search"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
        </ion-col>


        <!-- Botón Menú -->
        <ion-col size="6" size-md="6" id="chepe">
          <div class="ion-padding">
            <ion-buttons>
              <ion-button>
                <ion-icon color="secondary" slot="icon-only" name="menu"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>

        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>

</ion-header>