#titulo {
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  #botonesNavegacion {
    display: none;
  }

  #botonMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

@media (min-width: 1200px) {
  #botonesNavegacion {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  #botonMenu {
    display: none;
  }
}
