<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="container alinear_centro_col" size="12">
        <ion-card-title class="ion-margin" style="font-size: 18px;">Write your email, and we will see if You are enough
          brave for this adventure...

        </ion-card-title>

        <ion-card id="card">

          <ion-card-content class="ion-margin alinear_centro_col">
            <form #formulario="ngForm" (ngSubmit)="registro(formulario)">

              <ion-item class="item_element">
                <ion-input [(ngModel)]="usuario.email" name="email" required email type="email" placeholder="Email"
                  style="font-size: 12px;"></ion-input>
              </ion-item>

              <ion-item class="item_element" style="margin-top: 1px;">
                <ion-input [(ngModel)]="usuario.password" name="password" required type="password"
                  placeholder="Password" style="font-size: 12px;"></ion-input>
              </ion-item>

              <ion-button type="submit" style="width: 180px; margin-top: 20px;" shape="round">Sign Up
              </ion-button>

            </form>

          </ion-card-content>

        </ion-card>

        <div class="ion-margin" class="divisor" style="width: 7%;"></div>

        <p style="font-size: 11px;">See you on the otherside, foreigner.</p>



      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>